/* Navbar Stylesheet */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 999;
    background-color: var(--blanc-pur);
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo Styles */
.logo {
    text-decoration: none;
}

.logo img {
    height: 4.5rem;
    width: auto;
}

/* Search Input Styles */
.search {
    position: relative;
    padding: 15px 0 0;
    width: 100%;
    max-width: 150px;
    font-family: 'Fira Sans', sans-serif;
    bottom: 15px;
}

.search input {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--gris-moyen);
    outline: 0;
    font-size: 12px;
    color: var(--noir-profond);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.search input::placeholder {
    color: transparent;
}

.search input:placeholder-shown~label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.search label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: var(--gris-moyen);
    pointer-events: none;
}

.search input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #A6242F, #BF2431);
    border-image-slice: 1;
}

.search input:focus~label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #A6242F;
    font-weight: 700;
}


/* Navigation Links */

.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-list li a {
    color: var(--noir-profond);
    position: relative;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.4s ease-in-out;
    font-size: 1.8rem;
    font-family: 'Fira Sans', sans-serif;
}

.nav-list li a:hover {
    color: var(--gris-fonce);
}

.nav-list li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg,#A6242F 0%, #BF2431 100%);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-list li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.nav-list li img {
    height: 2.5rem;
    width: auto;
}


/* Mobile Menu Styles */
.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 25px;
    height: 2px;
    background-color: var(--noir-profond);
    margin: 8px;
    transition: transform 0.3s ease;
}

.nav-list.active {
    visibility: initial;
}


/* Responsive Styles */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px)
}

.mobile-menu.active .line2 {
    opacity: 0
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -5px)
}

@media screen and (max-width: 990px) {
    body {
        overflow-x: hidden
    }
    .nav-list {
        position: absolute;
        visibility: hidden;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(2px);
    }

    nav .nav-list li {
        margin-bottom: 48px
    }

    nav .nav-list li a  {
        font-size: 2.4rem
    }

    .mobile-menu {
        display: block
    }
}